form {
  border-radius: 4px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  background-color: rgb(87, 206, 123);
  text-align: left;
  height: 20em;
  position: fixed;
  top: 2em;
  right: 5em;
}

input {
  background-color: #eee;
  padding: 0.7em;
  border: none;
  border-radius: 4px;
  color: #333;
}
