figure {
  border: 1.2px solid #cfcfcf;
  border-radius: 6px;
  padding: 1em;
  background-color: #ccfbda;
  color: #333;
  transition: scale 0.2s ease-in;
}
figure:hover {
  scale: 1.11;
}

figcaption {
  display: flex;
  justify-content: space-between;
}

.user-icon {
  position: relative;
  width: 5em;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn {
  width: 1.4em;
  transition: scale 0.2s ease-in;
}
.btn:hover {
  scale: 1.2;
  border: 1px solid brown;
  border-radius: 5px;
  color: brown;
}

h3 {
  font-weight: 700;
}
